.details 
{
	display:flex;
	justify-content:space-between;
}
.details > div
{
	width:45%;
}
.photo-container img 
{
	width: 100%;
}
.photo-container div
{
	/*height: 64vh;*/
	min-height: 128px;
	border: 2px solid #83628b;
}
